[submodule "Plugins/AssetToJson"]
	path = Plugins/AssetToJson
	url = https://github.com/Tractatuz/AssetToJson.git
[submodule "Plugins/JsonToAsset"]
	path = Plugins/JsonToAsset
	url = https://github.com/Tractatuz/JsonToAsset.git
[submodule "Plugins/TestPlay"]
	path = Plugins/TestPlay
	url = https://github.com/Tractatuz/TestPlay.git
[submodule "Plugins/TaskEvidence"]
	path = Plugins/TaskEvidence
	url = https://github.com/Tractatuz/TaskEvidence.git
